{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>builtin forms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
   <form  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!--{{form.as_p}}-->
    <table border="2pt">
        <div class="row">
            <div class="col-2">
                {{ form.First_Name|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.Last_Name|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.Email|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.PhoneNumber|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.Password|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.birth_day|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.birth_month|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.birth_year|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.Gender|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.Prog_Languages|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.Languages|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                {{ form.Image|as_crispy_field }}
            </div>
        </div>
        
    </table>
    <!-- <ul>
        {{ form.as_ul }}
    </ul>-->
    <input type="submit" value="submit">
</form>

</body>
</html>