<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<body>
    <h1>{{First_Name}}</h1>
    <h1>{{Last_Name}}</h1>
    <h1>{{Email}}</h1>
    <h1>{{PhoneNumber}}</h1>
    <h1>{{Password}}</h1>
    <h1>{{birth_day}}</h1>
    <h1>{{birth_month}}</h1>
    <h1>{{birth_year}}</h1>
    <h1>{{Gender}}</h1>
    <h1>{{Prog_Languages}}</h1>
    <h1>{{Languages}}</h1>
    <h1>{{Image}}</h1>
</body>
</html>